@mixin bp($point) {
	@if $point == 120 {
		@media (min-width: 120em) { @content; }
	}
	@if $point == 80 {
		@media (min-width: 80em) { @content; }
	}
	@else if $point == 67.5 {
		@media (min-width: 67.5em) { @content; }
	}
	@else if $point == 62.5 {
		@media (min-width: 62.5em) { @content; }
	}
	@else if $point == 50 {
		@media (min-width: 50em) { @content; }
	}
	@else if $point == 44 {
		@media (min-width: 44em) { @content; }
	}
	@else if $point == 30 {
		@media (min-width: 30em) { @content; }
	}
	@else if $point == 25 {
		@media (min-width: 25em) { @content; }
	}
	@else if $point == 992 {
		@media (min-height: 62em) { @content; }
	}
	@else if $point == 800 {
		@media (min-height: 50em) { @content; }
	}
	@else if $point == 720 {
		@media (min-height: 45em) { @content; }
	}

}



/*Clearfix*/
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
	zoom:1;
}
/*Box-sizing*/
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/*Responsive Images*/
img {
	max-width: 100%;
	height: auto;
}
.assistive-text,
.screen-reader-text {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

@mixin button($back-color, $border-color, $text-color ) {
	display: inline-block;
	padding: 0.65em 1.5em;
	font-size: 1em;
	text-align: center;
	font-weight: normal;
	background-color: $back-color;
	color: $text-color;
	border: 1px solid $border-color;
	font-weight: 700;
	transition: all 250ms ease-in-out;
	border-radius: 0.15em;
	&:hover {
		color: $text-color;
		background: darken($back-color, 10%);
		border-color: darken($border-color, 10%);
	}
}
