/*Basic Grid*/
.site {
	width: 100%;
	max-width: 80em;
	margin: 0 auto;
	box-shadow:	0 2px 4px rgba(0,0,0,0.3);
	background: #fff;
}
.wrap {
	width: 90%;
	max-width: 60em;
	margin: 0 auto;
	@include bp(67.5) {
		width: 100%;
		max-width: 67.5em;
	}
}
.med-wrap {
	position: relative;
	width: 90%;
	max-width: 55em;
	margin: 0 auto;
	@include bp(50) {
		width: 100%;
	}
}

.sm-wrap {
	position: relative;
	width: 90%;
	max-width: 42em;
	margin: 0 auto;
	@include bp(50) {
		width: 100%;
	}
}

.half {
	margin-bottom: 2em;
	@include bp(50) {
		float: left;
		width: 47.5%;
		margin-bottom: 0;
		&.first {
			margin-right: 5%;
		}
	}
}
.halves {
	list-style: none;
	padding: 0;
	margin: 0;
	> li {
		display: block;
		margin: 0 0 1em;
	}
	@include bp(44) {
		> li {
			float: left;
			width: 47.5%;
			margin: 0 5% 1em 0;
			&:nth-child(even) {
				margin: 0 0 1em;
			}
		}
	}
}
.two-third {
	@include bp(50) {
		float: left;
		width: 65%;
		&.first {
			margin-right: 5%;
			&.right {
				float: right;
				margin: 0 0 0 5%;
			}
		}
	}
}
.third {
	@include bp(50) {
		float: left;
		width: 30%;
		&.first {
			margin-right: 5%;
			&.right {
				float: right;
				margin: 0 0 0 5%;
			}
		}
	}
}
.four-list {
	list-style: none;
	padding: 0;
	margin: 0;
	> li {
		float: left;
		width: 46%;
		margin: 0 8% 1em 0;
		&:nth-child(even) {
			margin: 0;
		}
	}
	@include bp(50) {
		> li {
			width: 22%;
			margin: 0 4% 1em 0;
			&:nth-child(even) {
				margin: 0 4% 1em 0;
			}
			&:last-child, &:nth-child(4n) {
				margin: 0 0 1em;
			}
			&:nth-child(4n+5) {
				clear: left;
			}
		}
	}
}
.three-list {
	list-style: none;
	padding: 0;
	margin: 0;
	> li {
		display: block;
		margin-bottom: 1.5em;
	}
	@include bp(50) {
		> li {
			float: left;
			width: 30%;
			margin: 0 5% 1em 0;
			&:last-child, &:nth-child(3n) {
				margin: 0 0 1em;
			}
			&:nth-child(3n+4) {
				clear: left;
			}
		}
	}
}
.two-list {
	list-style: none;
	padding: 0;
	margin: 0;
	> li {
		display: block;
		margin-bottom: 1em;
	}
	&.always-two {
		> li {
			float: left;
			width: 48%;
			margin: 0 4% 2em 0;
			&:last-child, &:nth-child(even) {
				margin: 0 0 1em;
			}
		}
	}
	@include bp(44) {
		> li {
			float: left;
			width: 48%;
			margin: 0 4% 2em 0;
			&:last-child, &:nth-child(even) {
				margin: 0 0 1em;
			}
		}
	}
}
.centered-list {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	li {
		display: inline-block;
		max-width: 47%;
		margin: 0 6% 1em 0;
		vertical-align: top;
		&:nth-child(even) {
			margin: 0 0 1em;
		}
	}
	@include bp(44) {
		li {
			max-width: 30%;
			margin: 0 5% 1em 0;
			&:nth-child(even) {
				margin: 0 5% 1em 0;
			}
			&:last-child, &:nth-child(3n) {
				margin: 0 0 1em;
			}
		}
	}
}
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: #333;
	background: rgba(41,41,41,0.9);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.overlay-content {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	backface-visibility: hidden;
	transform: translate(-50%, -50%);
}
.overlay-show {
	visibility: visible;
}
.overlay-show ~ .overlay {
	opacity: 1;
	visibility: visible;
}
.hideModal {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	font-size: 2em;
}

/**Specific to ADF**/
.dark-back,
.dark {
	background: $dark-gray !important;
	color: #fff;
	+ .dark {
		padding-top: 0;
	}
	a:not(.btn) {
		color: #fff;
		border-color: #fff;
	}
	.feature-content {
		color: $text;
		a {
			color: $blue;
		}
	}
}
.gray-back,
.gray {
	background: $back !important;
	+ .gray {
		padding-top: 0;
	}
}
.white {
	+ .white {
		padding-top: 0;
	}
}
.hidden-module {
	display: none;
}
