.picture-gallery {
    padding: 3em 0;
    text-align: center;
    &.dark {
        color: #fff;
        .pic-caption {
            color: #fff;
        }
    }
}
.pic-intro {
    max-width: 42em;
    margin: 0 auto;
    h2,
    h3 {
        margin: 0 0 0.5em;
    }
}
.pic-main {
    max-width: 42em;
    margin: 0 auto 1em;
    img {
        display: block;
        margin: 0 auto;
    }
    a {
        display: block;
        padding: 0;
        border: 0;
    }
}
.pic-caption {
    font-size: 0.875em;
    color: $gray;
    p {
        margin: 0;

    }
}
.pic-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
        margin-right: 0.5em;
    }
    a {
        padding: 0;
        border: 0;
        display: block;
        max-width: 75px;
        @include bp(700) {
            max-width: 125px;
        }
        img {
            display: block;
        }
    }

}
