$text: #404040;
$black: #262626;
$red: #ac1d23;

$teal: #40798D;
$alt-teal: #305C79;

$green: #8CBBA9;

$blue: #3E598D;
$light-blue: #C5D9E0;

$back: #F7F7F7;

$gray: #666666;
$light-gray: #d7d7d7;
$dark-gray: #56565A;

$yellow: #e6b712;
